.navbar-custom {
    background-color: rgba(0, 0, 0, 0.6); /* Transparent background */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .navbar-brand {
    text-align: center;
    flex-grow: 1;
    font-size: 1.5rem;
    color: #fff;
  }
  
  /* Navbar Toggler */
  .navbar-toggler {
    border-color: #fff;
  }
  
  /* Social Media Icons */
  .navbar-nav .nav-link {
    color: #fff;
    margin: 0 15px;
    font-size: 1.5rem;
  }
  
  .navbar-nav .nav-link:hover {
    color: #f8f9fa;
  }
  
  /* Dark Mode and Light Mode Button */
  button.text-white {
    font-size: 1.5rem;
    color: #fff;
    margin-right: 10px;
  }
  
  /* "Hire Me" Button */
  .navbar-nav .btn {
    background-color: #007bff;
    color: #fff;
    border-radius: 50px;
    padding: 10px 20px;
  }
  
  .navbar-nav .btn:hover {
    background-color: #0056b3;
  }
  
  /* Mobile Layout - Adjustments */
  @media (max-width: 767px) {
    .navbar-brand {
      display: none;
    }
  
    .navbar-nav .nav-link {
      margin: 10px;
    }
  
    .navbar-nav {
      display: block;
      text-align: center;
    }
  }
  